<h3>Photos</h3>

<div id="dropzone">
	<form action="https://heatheranddennis_wedding.s3.amazonaws.com"
	      class="dropzone">
	    <input type="hidden" name="key" value="<%= @key %>"/>
	    <input type="hidden" name="AWSAccessKeyId" value="<%= ENV['AWS_ACCESS_KEY_ID'] %>"/>
	    <input type="hidden" name="acl" value="public-read"/>
	    <input type="hidden" name="policy" value="<%= @policy %>"/>
	    <input type="hidden" name="signature" value="<%= @signature %>"/>
	    <input type="hidden" name="success_action_status" value="201"/>
	</form>
</div>

<hr/>
<a class="btn btn-success offset3" href="/photos">Refresh Gallery</a>
<hr/>

<div class="photos">
<% @photo_bucket.objects.each do |object| %>
  <img class="photo" width="610" src="<%= AWS::S3::S3Object.url_for(CGI::unescape(object.key), 'heatheranddennis_wedding', use_ssl: true) %>"/><br/>
<% end %>
</div>
